<div class="jumbotron">
  <h1>Handcrafted items from around the world.</h1>
  <hr class="my-4">
  <h4>Discover one-of-a-kind items</h4>
</div>
<div class="center">
  <div class="row">
    <% @listings.each do |listing| %>
      <div class="col-sm-3">
          <div class="card" >
            <%= link_to image_tag(listing.image.url(:medium), class:"card-img-top"), listing %>
                <div class="card-block">
                  <h4 class="card-title"><%= listing.name %></h4>
                  <p><%= "sold by #{listing.user.name}" %></p>
                    <p class="card-text"><%= listing.description %></p>
                </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><%= number_to_currency(listing.price) %></li>
              </ul>
            <div class="card-block">
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
  <% if user_signed_in? %>
    <%= link_to 'New Listing', new_listing_path, class:"btn btn-link" %>
  <% end %>

