<div class="jumbotron">
  <h1>Handcrafted items from around the world.</h1>
  <hr class="my-4">
  <h4>Discover one-of-a-kind items</h4>
</div>
<div class="center">
  <div class="row">
    <% @listings.each do |listing| %>
      <div class="col-sm-3">
          <div class="card" >
            <%= link_to image_tag(listing.image.url, class:"card-img-top"), listing %>
                <div class="card-block">
                  <%= content_tag :h4, listing.name, class: "card-title" %>
                  <%= content_tag :p, "sold by #{listing.user.name}" %>
                  <%= content_tag :p, listing.description, class: "card-text" %>
                </div>
              <ul class="list-group list-group-flush">
                <%= content_tag :li, number_to_currency(listing.price), class: "list-group-item" %>
              </ul>
            <div class="card-block">
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
  <% if user_signed_in? %>
    <%= link_to 'New Listing', new_listing_path, class:"btn btn-link" %>
  <% end %>

