
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
    <%= link_to 'EtsyDemo', listings_path, class: "navbar-brand" %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <%= content_tag :li, (link_to 'About', pages_about_path, class: "nav-item nav-link") %>
      <%= content_tag :li, (link_to 'Contact', pages_contact_path, class: "nav-item nav-link") %>
    </ul>

    <ul class="nav navbar-nav ml-auto">

      <% if user_signed_in? %>


        <ul class="nav nav-pills">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Seller Account</a>
            <div class="dropdown-menu">
              <%= link_to 'Manage Listings', seller_path, class: "dropdown-item" %>
              <%= content_tag :a, (link_to "Sales History", sales_path, class: "dropdown-item") %>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.name %></a>
            <div class="dropdown-menu">
              <%= content_tag :a, (link_to "Purchase History", purchases_path, class: "dropdown-item") %>
              <%= content_tag :a, (link_to 'Edit Profile', edit_user_registration_path, class: "dropdown-item") %>
              <%= content_tag :a, (link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "dropdown-item") %>
            </div>
          </li>
        </ul>
      <% else %>
        <%= content_tag :li, (link_to 'Sign Up', new_user_registration_path, class: "nav-item nav-link") %>
        <%= content_tag :li, (link_to 'Sign In', new_user_session_path, class: "nav-item nav-link") %>
      <% end %>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>